img{
  width: 60%;
  align-self: center;
}

.card{
  border: rgb(103, 102, 105) 3px solid;
  display: flex;  
  flex-direction: column;
  margin-left:5%;
  margin-right:5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.row{
  display: flex;  
  flex: 1;
  flex-direction: row;
  margin: auto;
  margin-top: 1%;
  justify-content: center;
  padding:20px;
}

.container{
  justify-content: center;
}
.details{
  font-size: 20px;
  color: rgb(97, 64, 128);
  padding:20px;
}

.title{
  font-size: 20px;
  background-color: rgb(97, 64, 128);
  color: white;
  text-align: center;
  margin:20px;
  padding:5px;
}

.homepage_links{
  color:  rgb(97, 64, 128);
  padding: 25%;
  font-size: larger;
  }

.loginlink{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:1
}

.form_panel {
  padding:2%;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  text-align:center;
  box-shadow: 2px 2px 2px 3px #999;
  margin: auto;
  min-width: 350px;
  width: 80%;
  margin-top:3%;
  background-color: black;
}

.navitems{
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content: flex-start;
  justify-self: center;
}

.nav_item{
  margin-left:15px;
  font-size: 20px;
  color: black;
  align-self: center;
}

.username{
  font: 30px sans-serif;
  color:black;
  justify-content: 'flex-end';
  align-self:flex-end;
  vertical-align: middle;
}

.input_panel {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content:flex-end;
  align-items: flex-end;
  vertical-align: middle;
}

.small_header{
  font: 30px sans-serif;
  color:black;
  margin: .5cm;
}

.img_icon {
  align-self: center;
    width:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;  
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 60%;
    margin-top: 20px; /* 调整上下间距 */
  }
  
  .image {
    flex: 1;
    display: flex;
    justify-content: center; /* 图片水平居中 */
    align-items: center; /* 图片垂直居中 */
  }
  
  .image img {
    max-width: 100%; /* 图片最大宽度为容器的宽度 */
    max-height: 100%; /* 图片最大高度为容器的高度 */
  }
  
  .contact {
    flex: 1;
    margin-left: 20px; /* 调整左右间距 */
  }

  p {
    color: rgb(49, 117, 145); 
  }
  
  .bold-and-large {
    font-weight: bold; /* 设置字体加粗 */
    font-size: 20px; /* 设置字体大小为20像素 */
  }
